= cache_with_locale do
  .small-4.medium-4.large-5.columns.variant-name
    .inline{"ng-if" => "::variant.display_name"} {{ ::variant.display_name }}
    .variant-unit {{ ::variant.unit_to_display }}

  .medium-2.large-2.columns.total-price
    %span{"ng-class" => "{filled: variant.line_item.total_price}"}
      {{ variant.line_item.total_price | localizeCurrency }}
  = render partial: "shop/products/shop_variant_no_group_buy"
  = render partial: "shop/products/shop_variant_with_group_buy"
