- # NOTE: make sure that any changes in this template are reflected in app/views/admin/products_v3/product_preview.turbo_stream.haml
= cache_with_locale do
  .small-3.columns.variant-name
    .inline{"ng-if" => "::variant.display_name"} {{ ::variant.display_name }}
    .variant-unit {{ ::variant.unit_to_display }}

  .medium-3.columns.total-price
    %span{"ng-class" => "{filled: variant.line_item.total_price}"}
      {{ variant.line_item.total_price | localizeCurrency }}
  = render partial: "shop/products/shop_variant_no_group_buy"
  = render partial: "shop/products/shop_variant_with_group_buy"
